@charset "UTF-8";
/* utils*/
@-webkit-keyframes décalage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes décalage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Plats1 {
  -webkit-animation: décalage 500ms;
          animation: décalage 500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.Plats2 {
  -webkit-animation: décalage 500ms 200ms;
          animation: décalage 500ms 200ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.Plats3 {
  -webkit-animation: décalage 500ms 400ms;
          animation: décalage 500ms 400ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.Plats4 {
  -webkit-animation: décalage 500ms 800ms;
          animation: décalage 500ms 800ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.Plats5 {
  -webkit-animation: décalage 500ms 1000ms;
          animation: décalage 500ms 1000ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.Plats6 {
  -webkit-animation: décalage 500ms 1200ms;
          animation: décalage 500ms 1200ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.Plats7 {
  -webkit-animation: décalage 500ms 1400ms;
          animation: décalage 500ms 1400ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.Plats8 {
  -webkit-animation: décalage 500ms 1600ms;
          animation: décalage 500ms 1600ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.Plats9 {
  -webkit-animation: décalage 500ms 1800ms;
          animation: décalage 500ms 1800ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.Plats10 {
  -webkit-animation: décalage 500ms 2000ms;
          animation: décalage 500ms 2000ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

/* Base*/
@media screen and (max-width: 992px) {
  p {
    font-family: "roboto", sans-serif;
    font-size: 18px;
  }
  .titrepolice {
    font-family: "shrikhand", sans-serif;
    font-size: 22px;
  }
}

@media screen and (min-width: 993px) {
  p {
    font-family: "roboto", sans-serif;
    font-size: 20px;
  }
  .titrepolice {
    font-family: "shrikhand", sans-serif;
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

.flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bold {
  font-weight: 700;
}

.backblocgris {
  background-color: #F2F2F2;
}

.text_overflow_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Pages */
/* header*/
/* Version Mobile */
@media screen and (max-width: 992px) {
  #logoindex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #barrelogoIndex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: gainsboro;
    border-top: 6px #c7c7c7 solid;
  }
  .Titre_reservez {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
  }
  .P_reservez {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
  }
  #blocreservez {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
  }
}

/* Version Desktop */
@media screen and (min-width: 993px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: gainsboro;
  }
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 270px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Titre_reservez {
    display: none;
  }
  #blocreservez {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: gainsboro;
    width: 340px;
    font-family: 'Roboto', sans-serif;
  }
  .P_reservez {
    display: none;
  }
}

/* Fonctionnement*/
/* mobile*/
@media screen and (max-width: 560px) {
  #DivSectionF {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .iconefonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
  }
  .taille_icone_fonct {
    font-size: 16px;
  }
  .iconechiffre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 96%;
    color: white;
    padding: 5px;
    background-color: #9356dc;
    margin-left: 0px;
    border-radius: 30px;
    height: 10px;
    width: 10px;
  }
  .FonctText {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
  }
  .blocexplfonct {
    border-radius: 40px;
    background-color: #F2F2F2;
    margin: 30px;
    -webkit-box-shadow: lightgray 0px 5px 5px;
            box-shadow: lightgray 0px 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .blocexplfonct:hover {
    background-color: #e4d5f6;
  }
  .divdivFonct {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
  }
}

/* Tablette */
@media screen and (min-width: 561px) and (max-width: 992px) {
  #DivSectionF {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .iconefonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .iconechiffre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    padding: 5px;
    background-color: #9356dc;
    margin-left: 0px;
    border-radius: 30px;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 96%;
  }
  .FonctText {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
  }
  .blocexplfonct {
    font-family: 'Roboto', sans-serif;
    border-radius: 40px;
    background-color: #F2F2F2;
    margin: 30px;
    width: 400px;
    -webkit-box-shadow: lightgray 0px 5px 5px;
            box-shadow: lightgray 0px 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .blocexplfonct:hover {
    background-color: #e4d5f6;
  }
}

@media screen and (min-width: 561px) and (max-width: 992px) and (min-width: 760px) and (max-width: 992px) {
  .blocexplfonct {
    border-radius: 40px;
    background-color: #F2F2F2;
    margin: 30px;
    width: 500px;
    -webkit-box-shadow: lightgray 0px 5px 5px;
            box-shadow: lightgray 0px 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .blocexplfonct:hover {
    background-color: #e4d5f6;
  }
}

@media screen and (min-width: 561px) and (max-width: 992px) {
  .divdivFonct {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
  }
}

/*desktop*/
@media screen and (min-width: 993px) {
  #SectionF {
    margin-top: 80px;
  }
  #DivSectionF {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .iconefonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
  }
  .iconechiffre {
    color: white;
    padding: 5px;
    background-color: #9356dc;
    margin-left: 0px;
    border-radius: 30px;
    height: 10px;
    width: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 96%;
  }
}

@media screen and (min-width: 1147px) {
  .FonctText {
    font-weight: 700;
    padding: 5px;
  }
}

.blocexplfonct {
  border-radius: 40px;
  background-color: #F2F2F2;
  margin: 20px;
  -webkit-box-shadow: lightgray 0px 5px 5px;
          box-shadow: lightgray 0px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.blocexplfonct:hover {
  background-color: #e4d5f6;
}

@media screen and (min-width: 1451px) {
  .divdivFonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 70%;
  }
}

@media screen and (min-width: 1231px) and (max-width: 1450px) {
  .divdivFonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    position: relative;
  }
}

@media screen and (min-width: 1147px) and (max-width: 1230px) {
  .divdivFonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    position: relative;
  }
}

@media screen and (min-width: 993px) and (max-width: 1146px) {
  .divdivFonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: relative;
  }
  .FonctText {
    font-weight: 700;
    padding: 5px;
    font-size: 19px;
  }
}

/* Restaurants*/
/* mobile*/
@media screen and (max-width: 560px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    -webkit-box-shadow: lightgray 0px 5px 5px;
            box-shadow: lightgray 0px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin: 0px;
    padding: 5px;
    height: 330px;
  }
  .Fig_A_Resto {
    margin: 30px 1px;
    height: 330px;
  }
  .img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
  }
  #sectionRestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 10px;
  }
  .titrealigneacceuil {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }
  .figcaptionRestaurants {
    padding: 5px;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Blociconecoeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
  }
  h1, h2, h3 {
    color: black;
  }
}

/* Tablette */
@media screen and (min-width: 561px) and (max-width: 992px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    -webkit-box-shadow: lightgray 0px 5px 5px;
            box-shadow: lightgray 0px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin: 0px;
    padding: 5px;
    height: 250px;
  }
  .Fig_A_Resto {
    margin: 30px 20px;
    height: 240px;
    width: 35%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
  }
  #sectionRestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 10px;
  }
  #DivRestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .titrealigneacceuil {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }
  .figcaptionRestaurants {
    padding: 5px;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Blociconecoeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
  }
  h1, h2, h3 {
    font-weight: 700;
    color: black;
  }
}

/* Desktop*/
@media screen and (min-width: 993px) {
  .Fig_A_Resto {
    width: 25%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    -webkit-box-shadow: lightgray 0px 5px 5px;
            box-shadow: lightgray 0px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin: 30px 10px;
    padding: 5px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
  }
  #sectionRestaurant {
    padding: 30px 10px;
    margin-top: 80px;
  }
  #DivRestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .titrealigneacceuil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  .figcaptionRestaurants {
    padding: 12px;
    color: black;
    font-size: larger;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'Roboto', sans-serif;
  }
  .Blociconecoeur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 5%;
  }
}

@media screen and (min-width: 993px) and (min-width: 1629px) {
  .CaptionText {
    font-size: 20px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1628px) and (min-width: 1160px) {
  .CaptionText {
    font-size: 18px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1159px) and (min-width: 993px) {
  .CaptionText {
    font-size: 15px;
  }
}

@media screen and (min-width: 993px) {
  h1, h2, h3 {
    font-weight: 700;
    color: black;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  #barrelogoResto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75%;
    margin-left: 10px;
  }
  #logoResto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #flecheretour {
    font-size: 16px;
  }
  #Figimgfondresto {
    margin: 0px;
    width: 100%;
  }
  #imgFondResto {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .GlobalSection {
    position: relative;
    z-index: 5;
    margin-top: -60px;
    border-radius: 50px 50px 0px 0px;
    background-color: #f2f2f2;
  }
  .Sous_Section_Resto {
    margin-bottom: 40px;
  }
  .cartemenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    background-color: white;
    margin: 20px 5px;
    height: 100px;
    width: 100%;
    -webkit-box-shadow: lightgray 0px 5px 5px;
            box-shadow: lightgray 0px 5px 5px;
  }
  .cartemenu_deuxtexte {
    width: 70%;
    padding: 20px;
  }
  .titremenu {
    margin: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  .descriptionmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2px;
    font-size: 14px;
    font-family: "roboto", sans-serif;
  }
  .prix_resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    font-family: "roboto", sans-serif;
    width: 30%;
  }
  .titrecategorie_Resto {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-left: 8px;
  }
  .titrecategorie_Resto_span {
    border-bottom: solid #99e2d0 3px;
    padding-bottom: 7px;
  }
  #nomrestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 40px;
    font-family: 'Shrikhand', sans-serif;
    font-size: 22px;
  }
  #btn_Resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
    padding-top: 10px;
  }
}

/* Tablette */
@media screen and (min-width: 769px) and (max-width: 992px) {
  #barrelogoResto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    margin-left: 20px;
  }
  #logoResto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #flecheretour {
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  #Figimgfondresto {
    margin: 0px;
    width: 100%;
  }
  #imgFondResto {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 300px;
  }
  .GlobalSection {
    position: relative;
    z-index: 5;
    margin-top: -80px;
    border-radius: 50px 50px 0px 0px;
    background-color: #f2f2f2;
  }
  .Sous_Section_Resto {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cartemenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    background-color: white;
    margin: 20px;
    height: 150px;
    -webkit-box-shadow: lightgray 0px 5px 5px;
            box-shadow: lightgray 0px 5px 5px;
    width: 40%;
  }
  .cartemenu_deuxtexte {
    width: 80%;
    padding: 20px;
  }
  .descriptionmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2px;
    font-size: 14px;
    font-family: "roboto", sans-serif;
  }
  .titremenu {
    margin: 10px 2px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  .prix_resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    width: 20%;
    font-family: "Roboto", sans-serif;
  }
  .titrecategorie_Resto {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-left: 8px;
  }
  .titrecategorie_Resto_span {
    border-bottom: solid #99e2d0 3px;
    padding-bottom: 7px;
  }
  #nomrestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 60px;
    font-family: 'Shrikhand', sans-serif;
    font-size: 40px;
  }
  #coeur_nomResto {
    margin-left: 80px;
    font-size: 22px;
  }
  #btn_Resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
    padding-top: 10px;
  }
}

/* Desktop*/
@media screen and (min-width: 993px) {
  .headerResto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #barrelogoResto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    margin-left: 40px;
  }
  #logoResto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #flecheretour {
    font-size: 24px;
    text-decoration: none;
    color: black;
  }
  #Figimgfondresto {
    margin: 0px;
    width: 100%;
  }
  #imgFondResto {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 300px;
  }
  .GlobalSection {
    position: relative;
    z-index: 5;
    margin-top: -70px;
    border-radius: 60px 60px 0px 0px;
    background-color: #f2f2f2;
  }
  .Sous_Section_Resto {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cartemenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    background-color: white;
    margin: 20px;
    -webkit-box-shadow: lightgray 0px 5px 5px;
            box-shadow: lightgray 0px 5px 5px;
    width: 38%;
    height: 80px;
  }
  .cartemenu_deuxtexte {
    padding: 20px;
    width: 70%;
  }
  .descriptionmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
  .titremenu {
    margin: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  .prix_resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    width: 30%;
    font-family: "Roboto", sans-serif;
  }
  .titrecategorie_Resto {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-left: 8px;
  }
  .titrecategorie_Resto_span {
    border-bottom: solid #99e2d0 3px;
    padding-bottom: 7px;
  }
  #nomrestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 60px;
    font-family: 'Shrikhand', sans-serif;
    font-size: 40px;
  }
  #coeur_nomResto {
    margin-left: 80px;
  }
  #btn_Resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
    padding-top: 10px;
  }
}

/*Composants*/
/* Bouton color*/
@media screen and (min-width: 410px) {
  .btncolore {
    background: radial-gradient(ellipse at left top, #ff60d3 0%, #a16be0 100%);
    border-radius: 50px;
    -webkit-box-shadow: lightgray 7px 7px 3px;
            box-shadow: lightgray 7px 7px 3px;
    padding: 20px;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
  .btncolore:hover {
    cursor: pointer;
    background: radial-gradient(ellipse at left top, #ff88de 0%, #a978e3 100%);
    -webkit-box-shadow: silver 7px 7px 3px;
            box-shadow: silver 7px 7px 3px;
  }
}

@media screen and (max-width: 409px) and (min-width: 378px) {
  .btncolore {
    background: radial-gradient(ellipse at left top, #ff60d3 0%, #a16be0 100%);
    border-radius: 50px;
    -webkit-box-shadow: lightgray 7px 7px 3px;
            box-shadow: lightgray 7px 7px 3px;
    padding: 16px;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
  .btncolore:hover {
    cursor: pointer;
    background: radial-gradient(ellipse at left top, #ff88de 0%, #a978e3 100%);
    -webkit-box-shadow: silver 7px 7px 3px;
            box-shadow: silver 7px 7px 3px;
  }
}

@media screen and (max-width: 377px) {
  .btncolore {
    background: radial-gradient(ellipse at left top, #ff60d3 0%, #a16be0 100%);
    border-radius: 50px;
    -webkit-box-shadow: lightgray 7px 7px 3px;
            box-shadow: lightgray 7px 7px 3px;
    padding: 15px;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
  }
  .btncolore:hover {
    cursor: pointer;
    background: radial-gradient(ellipse at left top, #ff88de 0%, #a978e3 100%);
    -webkit-box-shadow: silver 7px 7px 3px;
            box-shadow: silver 7px 7px 3px;
  }
}

/* Fin Bouton color*/
/* Bouton Coeur*/
.fa-regular {
  font-weight: 400;
  font-size: 30px;
  position: relative;
}

.fa-regular::after {
  content: "\f004";
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  right: 50%;
  bottom: 50%;
  background: radial-gradient(ellipse at left bottom, #ff88de 0%, #a978e3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-property: top, bottom, left, right;
  transition-property: top, bottom, left, right;
}

.fa-regular:hover::after {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

/* Fin Bouton Coeur*/
/* bouton fleche retour */
.fa-arrow-left-long {
  text-decoration: none;
  color: black;
}

/* fin bouton fleche retour */
@-webkit-keyframes Loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes Loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes Page_loader {
  0% {
    opacity: 1;
    z-index: 5;
  }
  99% {
    opacity: 0;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}

@keyframes Page_loader {
  0% {
    opacity: 1;
    z-index: 5;
  }
  99% {
    opacity: 0;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}

#Spin_Loader1 {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  -webkit-animation: Loader 1s ease-in-out infinite;
          animation: Loader 1s ease-in-out infinite;
  background: -webkit-gradient(linear, right top, left top, from(#ff79da), to(#9356dc));
  background: linear-gradient(to left, #ff79da, #9356dc);
}

#Spin_Loader2 {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  -webkit-animation: Loader 1s 400ms ease-in-out infinite;
          animation: Loader 1s 400ms ease-in-out infinite;
  background: -webkit-gradient(linear, left top, right top, from(#ff79da), to(#9356dc));
  background: linear-gradient(to right, #ff79da, #9356dc);
}

#Spin_Loader3 {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  -webkit-animation: Loader 1s 200ms ease-in-out infinite;
          animation: Loader 1s 200ms ease-in-out infinite;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background: linear-gradient(to top, #ff79da, #9356dc);
}

#Pageloader {
  -webkit-animation: Page_loader 3s;
          animation: Page_loader 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: fixed;
  top: 0vh;
  height: 100vh;
  width: 100vw;
}

/* desktop*/
@media screen and (min-width: 993px) {
  .iconecheck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
    color: white;
    background-color: #99e2d0;
    border-radius: 0px 15px 15px 0px;
    position: relative;
    left: 70px;
    width: 80px;
    height: 100%;
    font-size: 25px;
    margin-left: 10px;
  }
  .cartemenu:hover > .iconecheck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-animation: iconecheck_slide_Desktop 500ms ease-out forwards;
            animation: iconecheck_slide_Desktop 500ms ease-out forwards;
  }
  .cartemenu:hover > .iconecheck > .fa-circle-check {
    -webkit-animation: iconecheck_rotate 400ms 100ms ease-out;
            animation: iconecheck_rotate 400ms 100ms ease-out;
  }
}

/* tablette */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .iconecheck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
    color: white;
    background-color: #99e2d0;
    border-radius: 0px 15px 15px 0px;
    position: relative;
    left: 50px;
    width: 60px;
    height: 100%;
    font-size: 25px;
    margin-left: 10px;
  }
  .cartemenu:hover > .iconecheck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-animation: iconecheck_slide_Tablette 500ms ease-out forwards;
            animation: iconecheck_slide_Tablette 500ms ease-out forwards;
  }
  .cartemenu:hover > .iconecheck > .fa-circle-check {
    -webkit-animation: iconecheck_rotate 400ms 100ms ease-out;
            animation: iconecheck_rotate 400ms 100ms ease-out;
  }
}

/*mobile*/
@media screen and (max-width: 768px) {
  .iconecheck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
    color: white;
    background-color: #99e2d0;
    border-radius: 0px 15px 15px 0px;
    position: relative;
    left: 40px;
    width: 50px;
    height: 100%;
    font-size: 25px;
    margin-left: 30px;
  }
  .cartemenu:hover > .iconecheck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-animation: iconecheck_slide_Mobile 500ms ease-out forwards;
            animation: iconecheck_slide_Mobile 500ms ease-out forwards;
  }
  .cartemenu:hover > .iconecheck > .fa-circle-check {
    -webkit-animation: iconecheck_rotate 400ms 100ms ease-out;
            animation: iconecheck_rotate 400ms 100ms ease-out;
  }
}

/* keyframes Desktop*/
@-webkit-keyframes iconecheck_slide_Desktop {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-70px);
            transform: translate(-70px);
    opacity: 1;
  }
}
@keyframes iconecheck_slide_Desktop {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-70px);
            transform: translate(-70px);
    opacity: 1;
  }
}

/* keyframes Tablette*/
@-webkit-keyframes iconecheck_slide_Tablette {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
    opacity: 1;
  }
}
@keyframes iconecheck_slide_Tablette {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
    opacity: 1;
  }
}

/* keyframes Mobile */
@-webkit-keyframes iconecheck_slide_Mobile {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-40px);
            transform: translate(-40px);
    opacity: 1;
  }
}
@keyframes iconecheck_slide_Mobile {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-40px);
            transform: translate(-40px);
    opacity: 1;
  }
}

/* keyframes rotate */
@-webkit-keyframes iconecheck_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes iconecheck_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Themes */
footer {
  background-color: #363636;
  padding: 40px 0px;
  margin: 0px 0px;
}

#logofooter {
  -webkit-filter: brightness(50);
          filter: brightness(50);
}

.lignefooter {
  margin: 20px 30px;
}

.lignefootertext {
  color: white;
}
/*# sourceMappingURL=main_css.css.map */