
/* Bouton color*/
@media screen and (min-width: 410px) {
    

    .btncolore
    {
        background: radial-gradient(ellipse at left top, darken($Secondaire, 5) 0%, lighten($Primaire, 5) 100%);
        border-radius: 50px;
        box-shadow: lightgray 7px 7px 3px;
        padding: 20px;
        text-decoration: none;
        font-family: "roboto", sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: white;
        &:hover{
            cursor: pointer;
            background: radial-gradient(ellipse at left top, lighten($Secondaire, 3) 0%, lighten($Primaire, 8) 100%);
            box-shadow: rgb(192, 192, 192) 7px 7px 3px;
        }
    }
    }
    
    @media screen and (max-width: 409px) and (min-width: 378px){
        
        .btncolore
    {
        background: radial-gradient(ellipse at left top, darken($Secondaire, 5) 0%, lighten($Primaire, 5) 100%);
        border-radius: 50px;
        box-shadow: lightgray 7px 7px 3px;
        padding: 16px;
        text-decoration: none;
        font-family: "roboto", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: white;
        &:hover{
            cursor: pointer;
            background: radial-gradient(ellipse at left top, lighten($Secondaire, 3) 0%, lighten($Primaire, 8) 100%);
            box-shadow: rgb(192, 192, 192) 7px 7px 3px;
        }
    }
    }
    @media screen and (max-width: 377px)  {
    
        .btncolore
        {
            background: radial-gradient(ellipse at left top, darken($Secondaire, 5) 0%, lighten($Primaire, 5) 100%);
            border-radius: 50px;
            box-shadow: lightgray 7px 7px 3px;
            padding: 15px;
            text-decoration: none;
            font-family: "roboto", sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: white;
            &:hover{
                cursor: pointer;
                background: radial-gradient(ellipse at left top, lighten($Secondaire, 3) 0%, lighten($Primaire, 8) 100%);
                box-shadow: rgb(192, 192, 192) 7px 7px 3px;
            }
        }
    }
    /* Fin Bouton color*/
    
        /* Bouton Coeur*/
    
@keyframes iconecoeur{

0%{
    transform: scale(1);
    font-weight: 400;
}

100%{
    transform: scale(1.2);
    font-weight: 700;

            background: radial-gradient(ellipse at bottom, lighten($Secondaire, 3) 0%, lighten($Primaire, 8) 100%);
            
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent
}

}

    .fa-regular {
        font-weight: 400;
        
        
    
        &:hover{
            
            font-weight: 700;
            animation: iconecoeur 300ms ease-in-out ;
            animation-fill-mode: forwards;
            cursor: pointer;
            
        }
    }
        /* Fin Bouton Coeur*/
    