
    /* desktop*/
    
@media screen and (min-width: 993px) {
.iconecheck
{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    color: white;
    background-color: $Tertiaire;
    border-radius: 0px 15px 15px 0px;

    position: relative;
    left: 70px;    
    width: 80px;
    height: 100%;
    font-size: 25px;
    margin-left: 10px;
    
}
.cartemenu:hover > .iconecheck
{
    display: flex;
    cursor: pointer;
    animation: iconecheck_slide_Desktop 500ms ease-out forwards;
    
}
.cartemenu:hover > .iconecheck > .fa-circle-check
{
    animation: iconecheck_rotate 400ms 100ms ease-out ;
}
}
    /* tablette */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .iconecheck
    {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        color: white;
        background-color: $Tertiaire;
        border-radius: 0px 15px 15px 0px;
        position: relative;
        left: 50px;
        width: 60px;
        height: 100%;
        
        font-size: 25px;
        margin-left: 10px;
    }
    .cartemenu:hover > .iconecheck
{
    display: flex;
    cursor: pointer;
    animation: iconecheck_slide_Tablette 500ms ease-out forwards;
    
}
.cartemenu:hover > .iconecheck > .fa-circle-check
{
    animation: iconecheck_rotate 400ms 100ms ease-out ;
}
}

    /*mobile*/
@media screen and (max-width: 768px) {
.iconecheck
{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    color: white;
    background-color: $Tertiaire;
    border-radius: 0px 15px 15px 0px;
    position: relative;
    left: 40px;    
    width: 50px;
    height: 100%;
    
    font-size: 25px;
   
}
.cartemenu:hover > .iconecheck
{
    display: flex;
    cursor: pointer;
    animation: iconecheck_slide_Mobile 500ms ease-out forwards;
    
}
.cartemenu:hover > .iconecheck > .fa-circle-check
{
    animation: iconecheck_rotate 400ms 100ms ease-out ;
}
}
        /* keyframes Desktop*/

@keyframes iconecheck_slide_Desktop
{
    0%{
        transform: translate(0px);
        opacity: 0;
    }
    
    
    100%{
        transform: translate(-70px) ;
        opacity: 1;
    }

}
        /* keyframes Tablette*/


@keyframes iconecheck_slide_Tablette
{
    0%{
        transform: translate(0px);
        opacity: 0;
    }
    
    
    100%{
        transform: translate(-50px) ;
        opacity: 1;
    }

}

        /* keyframes Mobile */


@keyframes iconecheck_slide_Mobile
{
    0%{
        transform: translate(0px);
        opacity: 0;
    }
    
    
    100%{
        transform: translate(-40px) ;
        opacity: 1;
    }

}
    /* keyframes rotate */
@keyframes iconecheck_rotate
{
    0%{
        transform: rotate(0deg);
       
    }
    
    
    100%{
        transform: rotate(360deg) ;
        
    }

}