@keyframes Loader{

    0%{
        
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
       
        transform: scale(1);
    }
}




#Spin_Loader1
{ 
    
    
    border-radius: 100px;
    width: 30px;
    height: 30px;     
    
    animation: Loader 2s ease-in-out infinite;
    background: linear-gradient(to left, $Secondaire, $Primaire);
            
    
    
}
#Spin_Loader2
{ 
    
    
    border-radius: 100px;
    width: 30px;
    height: 30px;     
    
    animation: Loader 2s 600ms ease-in-out infinite;
    background: linear-gradient(to right, $Secondaire, $Primaire);
    
}
#Spin_Loader3
{ 
    
    
    border-radius: 100px;
    width: 30px;
    height: 30px;     
    
    animation: Loader 2s 300ms ease-in-out infinite;
    background: linear-gradient(to top, $Secondaire, $Primaire);
    
}



#Pageloader
{
    display: flex;
    justify-content: space-around;

}

