
/* header*/
    /* Version Mobile */
        @media screen and (max-width: 992px) 
{
    


#logoindex
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    object-fit: cover;
}
#barrelogoIndex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

    
.location
{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    border-top:  6px rgb(199, 199, 199) solid;
    
}
.Titre_reservez
{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: center;
}
.P_reservez
{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#blocreservez
{
    
    padding: 50px 70px; 
}
    }
            /* Version Desktop */
        @media screen and (min-width: 993px)
        {
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gainsboro;
}

.location
{
    display: flex;
    justify-content: center;
    width: 270px;
    align-items: center;
    
     
}
.Titre_reservez
{
   display: none;
}
#blocreservez
{
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    width: 340px;
}
.P_reservez
{
    display: none;
}
        }

/* Fonctionnement*/
/* mobile*/
@media screen and (max-width: 560px) {



#DivSectionF
{
    display: flex;
    flex-direction: column;
    
}
.iconefonct
{
   display: flex;
   align-items: center;
   justify-content: space-around;

}
.iconechiffre
{
    color: white;
    padding: 10px;
    background-color: $Primaire;
    margin-left: 0px;
    border-radius : 30px;  
    
}
.FonctText
{
   
    font-weight: 700;

}
.blocexplfonct
{
    border-radius: 40px;
    background-color: #F2F2F2;
    margin: 30px;
    
    box-shadow: lightgray 0px 5px 5px;
    display: flex;
    
    flex-direction: row;
        &:hover{
            background-color: lighten($Primaire, 30);
            
        }
 }   

.divdivFonct
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
}
/* Tablette */

@media screen and (min-width: 561px) and (max-width: 992px){

    #DivSectionF
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .iconefonct
    {
       display: flex;
       align-items: center;
       justify-content: space-around;
    
    }
    .iconechiffre
    {
        color: white;
        padding: 10px;
        background-color: $Primaire;
        margin-left: 0px;
        border-radius : 30px;  
        
    }
    .FonctText
    {
       
        font-weight: 700;
    
    }
    .blocexplfonct
    {
        border-radius: 40px;
        background-color: #F2F2F2;
        margin: 30px;
        width: 400px;
        box-shadow: lightgray 0px 5px 5px;
        display: flex;
        flex-direction: row;
        &:hover{
            background-color: lighten($Primaire, 30);
            
        }
    }
        @media screen and (min-width: 760px) and (max-width: 992px){
            
                .blocexplfonct
                {
                    border-radius: 40px;
                    background-color: #F2F2F2;
                    margin: 30px;
                    width: 500px;
                    box-shadow: lightgray 0px 5px 5px;
                    display: flex;
                    flex-direction: row;
                    &:hover{
                        background-color: lighten($Primaire, 30);
                        
                    }
                }
            }
        }
        @media screen and (min-width: 561px) and (max-width: 992px){
    .divdivFonct
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        
    }

    }

            /*desktop*/
    @media screen and (min-width: 993px) {

        #SectionF
        {
            margin-top: 80px;
        }
        #DivSectionF
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .iconefonct
        {
           display: flex;
           align-items: center;
           
        }
        .iconechiffre
        {
            color: white;
            padding: 10px;
            background-color: $Primaire;
            margin-left: 0px;
            border-radius : 30px;  
            
        }
    }
        @media screen and (min-width: 1147px) {
        .FonctText
        {
           
            font-weight: 700;
            padding: 5px;
            
        }
    }
        .blocexplfonct
        {
            border-radius: 40px;
            background-color: #F2F2F2;
            margin: 20px;
            
            box-shadow: lightgray 0px 5px 5px;
            display: flex;
            
            flex-direction: row;
            flex-grow: 1;
            &:hover{
                background-color: lighten($Primaire, 30);
                
            }
            
        }
            @media screen and (min-width: 1451px){

        
        .divdivFonct
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
           width: 70%;
            
        }
        }
            @media screen and (min-width: 1231px) and (max-width: 1450px){

                .divdivFonct
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                   width: 80%;
                    
                }
            }
            @media screen and (min-width: 1147px) and (max-width: 1230px){

                .divdivFonct
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                   width: 85%;
                    
                }
            }
            @media screen and (min-width: 993px) and (max-width: 1146px){
    
                .divdivFonct
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    
                }  
                .FonctText
                {
                    font-weight: 700;
                    padding: 5px;
                    font-size: 19px;
                }
    }

/* Restaurants*/

/* mobile*/
@media screen and (max-width: 560px) {

.card
{
  
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: lightgray 0px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin: 0px;
    padding: 5px;
    height: 330px;
}
.Fig_A_Resto
{
    margin: 30px 1px;
    height: 330px;
}
.img
{

    object-fit: cover;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}

#sectionRestaurant
{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;

}

       
.titrealigneacceuil
{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

}
    

.figcaptionRestaurants
{
    padding: 5px;
    color: black;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Blociconecoeur
{
    display: flex;
    align-items: center;
    width: 50px;
}

h1, h2, h3
{
    
    color: black;
}

}

/* Tablette */

@media screen and (min-width: 561px) and (max-width: 992px){


.card
{
  
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: lightgray 0px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin: 0px;
    padding: 5px;
    height: 250px;
    
}
.Fig_A_Resto
{
    margin: 30px 20px;
    height: 240px;
    width: 35%;
    flex-grow: 1;
}
.img
{

    object-fit: cover;
    flex-grow: 1;
    flex-shrink: 1;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
}

#sectionRestaurant
{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;

}
#DivRestaurant
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
       
.titrealigneacceuil
{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

}
    

.figcaptionRestaurants
{
    padding: 5px;
    color: black;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Blociconecoeur
{
    display: flex;
    align-items: center;
    width: 20px;
}

h1, h2, h3
{
    font-weight: 700;
    color: black;
}
}

/* Desktop*/

@media screen and (min-width: 993px) {
    .Fig_A_Resto
    {
        width: 25%;
        flex-grow: 1;
        

    }
        .card
        {
          
            display: flex;
            flex-direction: column;
            background-color: white;
            box-shadow: lightgray 0px 5px 5px;
            border-radius: 20px 20px 20px 20px;
            margin: 30px 10px;
            padding: 5px;
            flex-grow: 1;
            
        }
        
        .img
        {
        
            object-fit: cover;
            height: 300px;
            border-radius: 20px 20px 0px 0px;
        }
        
        #sectionRestaurant
        {        
            padding: 30px 10px;
            margin-top: 80px;
            
        }
        #DivRestaurant
        {
            display: flex;
            flex-direction: row;
            
        }
   
        .titrealigneacceuil
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .figcaptionRestaurants
        {
            padding: 12px;
            color: black;
            font-size: larger;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .Blociconecoeur
        {
            display: flex;
            align-items: center;
            width: 5%;
        }
        @media screen and (min-width: 1629px) {

        .CaptionText
        {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 1628px) and (min-width: 1160px){

        .CaptionText
        {
            font-size: 18px;
        }
    }
    @media screen and (max-width: 1159px) and (min-width: 993px){
        .CaptionText
        {
            font-size: 15px;
        }
    }

        h1, h2, h3
        {
            font-weight: 700;
            color: black;
        }
    



}