
/* header*/
    /* Version Mobile */
        @media screen and (max-width: 992px) 
{
    


#logoindex
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    object-fit: cover;
}
#barrelogoIndex
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.location
{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    border-top:  6px rgb(199, 199, 199) solid;
    
}
.Titre_reservez
{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.P_reservez
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}
#blocreservez
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}
    }
            /* Version Desktop */
        @media screen and (min-width: 993px)
        {
#header_index
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:  6px rgb(173, 173, 173) solid;
}
.location_explorer
{
    display: flex;
    flex-direction: row;
    
} 
.location
{
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
    
    background-color:  rgb(199, 199, 199) ;
}
#blocreservez
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: gainsboro;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}
.Titre_reservez
{
   display: flex;
   justify-content:center;
   align-items: center;
   font-size: 19px;
}

.P_reservez
{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 18px;
}
        }

/* Fonctionnement*/
/* mobile*/
@media screen and (max-width: 560px) {



#DivSectionF
{
    display: flex;
    flex-direction: column;
    
}
.iconefonct
{
   display: flex;
   align-items: center;
   margin-left: 10px;
}
.taille_icone_fonct
{
    
    font-size:  16px ;
    
}
.iconechiffre
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 96%;
    
    color: white;
    padding: 5px;
    background-color: $Primaire;
    margin-left: 0px;
    border-radius : 30px;  
    height: 10px;
    width: 10px;

}
.FonctText
{
   
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.blocexplfonct
{
    border-radius: 40px;
    background-color: #F2F2F2;
    margin: 30px;
    
    box-shadow: lightgray 0px 5px 5px;
    display: flex;
    
    flex-direction: row;
        &:hover{
            background-color: lighten($Primaire, 30);
            
        }
 }   

.divdivFonct
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
}
}
/* Tablette */

@media screen and (min-width: 561px) and (max-width: 992px){

    #DivSectionF
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .iconefonct
    {
       display: flex;
       align-items: center;
       justify-content: space-around;
    
    }
    .iconechiffre
    {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 5px;
        background-color: $Primaire;
        margin-left: 0px;
        border-radius : 30px; 
        height: 10px;
        width: 10px; 
        position: absolute;
        right: 96%;

    }
    .FonctText
    {
       
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }
    .blocexplfonct
    {
        font-family: 'Roboto', sans-serif;
        border-radius: 40px;
        background-color: #F2F2F2;
        margin: 30px;
        width: 400px;
        box-shadow: lightgray 0px 5px 5px;
        display: flex;
        flex-direction: row;
        &:hover{
            background-color: lighten($Primaire, 30);
            
        }
    }
        @media screen and (min-width: 760px) and (max-width: 992px){
            
                .blocexplfonct
                {
                    border-radius: 40px;
                    background-color: #F2F2F2;
                    margin: 30px;
                    width: 500px;
                    box-shadow: lightgray 0px 5px 5px;
                    display: flex;
                    flex-direction: row;
                    &:hover{
                        background-color: lighten($Primaire, 30);
                        
                    }
                }
            }
        }
        @media screen and (min-width: 561px) and (max-width: 992px){
    .divdivFonct
    {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 85%;
        
    }

    }

            /*desktop*/
    @media screen and (min-width: 993px) {

        #SectionF
        {
            margin-top: 80px;
        }
        #DivSectionF
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .iconefonct
        {
           display: flex;
           align-items: center;
           margin-left: 10px;
           
        }
        .iconechiffre
        {
            color: white;
            padding: 5px;
            background-color: $Primaire;
            margin-left: 0px;
            border-radius : 30px;  
            height: 10px;
            width: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 96%;
            
        }
    }
        @media screen and (min-width: 1147px) {
        .FonctText
        {
           
            font-weight: 700;
            padding: 5px;
            
        }
    }
        .blocexplfonct
        {
            border-radius: 40px;
            background-color: #F2F2F2;
            margin: 20px;
            
            box-shadow: lightgray 0px 5px 5px;
            display: flex;
            
            flex-direction: row;
            flex-grow: 1;
            &:hover{
                background-color: lighten($Primaire, 30);
                
            }
            
        }
            @media screen and (min-width: 1451px){

        
        .divdivFonct
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: relative;
            width: 70%;
            
        }
        }
            @media screen and (min-width: 1231px) and (max-width: 1450px){

                .divdivFonct
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 80%;
                   position: relative;
                }
            }
            @media screen and (min-width: 1147px) and (max-width: 1230px){

                .divdivFonct
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 85%;
                   position: relative;
                }
            }
            @media screen and (min-width: 993px) and (max-width: 1146px){
    
                .divdivFonct
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    position: relative;
                }  
                .FonctText
                {
                    font-weight: 700;
                    padding: 5px;
                    font-size: 19px;
                }
    }

/* Restaurants*/

/* mobile*/
@media screen and (max-width: 560px) {

.card
{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: lightgray 0px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin: 0px;
    padding: 0px;
    height: 340px;
}
.Fig_A_Resto
{
    margin: 30px 1px;
    height: 330px;
}

.img
{

    object-fit: cover;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}

#sectionRestaurant
{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;

}

   
.titrealigneacceuil
{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

}
    

.figcaptionRestaurants
{
    padding: 5px;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Blociconecoeur
{
    display: flex;
    align-items: center;
    width: 50px;
}

h1, h2, h3
{
    
    color: black;
}

}
/* responsive mobile cadre _Nouveau_ */
@media screen and (min-width: 400px) and (max-width: 560px) {

.balise_nouveau
{
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    color: darken($Tertiaire, 50);
    border: 1px solid $Tertiaire;
    background-color: $Tertiaire;
    position: absolute;
    left: 80%;
} 

}
@media screen and (max-width: 399px) {
    .balise_nouveau
    {
        padding: 5px;
        font-size: 16px;
        font-weight: 600;
        color: darken($Tertiaire, 50);
        border: 1px solid $Tertiaire;
        background-color: $Tertiaire;
        position: absolute;
        left: 72%;
    } 

}
/* Tablette */

@media screen and (min-width: 561px) and (max-width: 992px){


.card
{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: lightgray 0px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin: 0px;
    padding: 0px;
    height: 250px;
    
}
.Fig_A_Resto
{
    margin: 30px 20px;
    height: 240px;
    width: 35%;
    flex-grow: 1;
}
.img
{

    object-fit: cover;
    flex-grow: 1;
    flex-shrink: 1;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
}

#sectionRestaurant
{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;

}
#DivRestaurant
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
       
.titrealigneacceuil
{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

}
    

.figcaptionRestaurants
{
    padding: 5px;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Blociconecoeur
{
    display: flex;
    align-items: center;
    width: 40px;
}

h1, h2, h3
{
    font-weight: 700;
    color: black;
}
}
/* responsive Tablette cadre _Nouveau_ */
@media screen and (min-width: 561px) and (max-width: 659px) {

    .balise_nouveau
    {
        padding: 2px;
        font-size: 16px;
        font-weight: 600;
        color: darken($Tertiaire, 50);
        border: 1px solid $Tertiaire;
        background-color: $Tertiaire;
        position: absolute;
        left: 70%;
    } 
    
    }
    @media screen and (min-width: 660px) and (max-width: 879px) {
        .balise_nouveau
        {
            padding: 2px;
            font-size: 16px;
            font-weight: 600;
            color: darken($Tertiaire, 50);
            border: 1px solid $Tertiaire;
            background-color: $Tertiaire;
            position: absolute;
            left: 75%;
        } 
    
    }
    @media screen and (min-width: 880px) and (max-width: 992px) {
        .balise_nouveau
        {
            padding: 2px;
            font-size: 16px;
            font-weight: 600;
            color: darken($Tertiaire, 50);
            border: 1px solid $Tertiaire;
            background-color: $Tertiaire;
            position: absolute;
            left: 80%;
        } 
    
    }
/* Desktop*/

@media screen and (min-width: 993px) {
    .Fig_A_Resto
    {
        width: 25%;
        flex-grow: 1;
        

    }
        .card
        {
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: white;
            box-shadow: lightgray 0px 5px 5px;
            border-radius: 20px 20px 20px 20px;
            margin: 30px 10px;
            padding: 0px; 
            flex-grow: 1;
            
        }
        
        .img
        {
        
            object-fit: cover;
            height: 300px;
            border-radius: 20px 20px 0px 0px;
        }
        
        #sectionRestaurant
        {        
            padding: 30px 10px;
            margin-top: 80px;
            
        }
        #DivRestaurant
        {
            display: flex;
            flex-direction: row;
            
        }
   
        .titrealigneacceuil
        {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto', sans-serif;
        }
        .figcaptionRestaurants
        {
            padding: 12px;
            color: black;
            font-size: larger;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: 'Roboto', sans-serif;
        }
        .Blociconecoeur
        {
            display: flex;
            align-items: center;
            width: 10%;
        }
        @media screen and (min-width: 1629px) {

        .CaptionText
        {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 1628px) and (min-width: 1160px){

        .CaptionText
        {
            font-size: 18px;
        }
    }
    @media screen and (max-width: 1159px) and (min-width: 993px){
        .CaptionText
        {
            font-size: 15px;
        }
    }

        h1, h2, h3
        {
            font-weight: 700;
            color: black;
        }
    



}

/* responsive Desktop cadre _Nouveau_ */
@media screen and (min-width: 993px) and (max-width: 1500px) {

    .balise_nouveau
    {
        padding: 2px;
        font-size: 16px;
        font-weight: 600;
        color: darken($Tertiaire, 50);
        border: 1px solid $Tertiaire;
        background-color: $Tertiaire;
        position: absolute;
        left: 68%;
    } 
    
    }
    @media screen and (min-width: 1501px) {

        .balise_nouveau
        {
            padding: 2px;
            font-size: 16px;
            font-weight: 600;
            color: darken($Tertiaire, 50);
            border: 1px solid $Tertiaire;
            background-color: $Tertiaire;
            position: absolute;
            left: 79%;
        } 
    }