.flexcenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bold
{
    font-weight: 700;
}
.backblocgris
{
    background-color: #F2F2F2;
}
.text_overflow_ellipsis
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}