
.iconecoeur {
   
    opacity: 1;
    &:hover{
        opacity: 0;
        cursor: pointer;
    }
}

.iconecoeur::after {
    content: "";
    font-weight: 700;
    color: purple;
}
.iconecoeur::after:hover{
    
    cursor: pointer;
    transition: 300ms ease-out;
}